:host {
  display: block;
  padding: 10px;
  width: 100%;
  height: 100%;
}

#table-wrap {
  /* max-height: 500px; */
  overflow: auto;
}

table {
  /* border-collapse: collapse; */
  border: 3px solid #ddd;
  text-align: left;
  /* border: 2px solid black; */
}

.delete-button {
}
.button-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 37.5%;
}
th,
td {
  padding: 5px 10px 5px 10px;
  /* border: 1px solid gray; */
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

/* tr:first-child {
  background-color: #1872ef;
} */

th {
  color: white;
  background-color: #255dab;

  font-weight: normal;

  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  /* background-color: #4caf50; */
  color: white;
  cursor: default;
}

#new-button {
}

.disabled {
  background-color: lightgray;
}

#button-group {
  margin-top: 20px;
}

#cancel-button {
  margin-right: 20px;
}
