:host {
  display: block;
  padding-left: 10px;
  max-height: 100px;
  overflow-y: auto;
  font-size: 0.75rem;
}
div.error {
  color: #b91c1c;
}

div.success {
  color: #047857;
}

div.info {
  color: #d97706;
}

.close-button {
  color: var(--color-gray-darkest);
}
