:host {
  display: block;
  width: 100%;
}

.editable {
  /* background-color: lightcoral; */
}

#value-view {
  display: flex;
  justify-content: space-between;
}

#value-edit {
  display: flex;
  justify-content: space-between;
}

.edit-buttons {
  margin-left: 15px;
  cursor: pointer;
}

#save-icon {
  color: green;
}

#cancel-icon {
  color: red;
}
