:host {
  display: block;
  box-sizing: border-box;
  font-size: 2rem;
}
/* LAYOUT */
.slack-page {
  margin: 5px 0px;
  display: flex;
  width: 100%;
}
slack-sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 1 250px;
  padding: 0 1.25rem;
  font-size: 1.5rem;
}
slack-content {
  margin-left: auto;
  max-height: 50vh;
  flex: 1 0 70%;
  display: flex;
  flex-direction: column;
  padding: 0 2.5rem;
}
.content-threads {
  overflow: auto;
  flex: 1 0 90%;
}

/* SIDEBAR */
.discussion-channel {
  user-select: none;
  padding: 5px 5px;
}
.discussion-channel:hover {
  cursor: pointer;
}
.selected-discussion-channel {
  color: var(--color-primary);
  background-color: var(--color-primary-lightest);
  width: fit-content;
}

.add-button {
  color: var(--color-primary);
  display: block;
  width: fit-content;
  user-select: none;
  margin-top: 5px;
}

/* THREAD */
slack-thread {
  padding: 0px 1rem 1.5rem 1rem;
}
.thread-header {
  display: flex;
  width: 100%;
}
.thread-header:hover {
  background-color: var(--color-gray-light);
}
.post-indicator {
  user-select: none;
}
.post-indicator:hover {
  cursor: pointer;
}

.thread-buttons {
  user-select: none;
  padding: 0px 10px;
}
.thread-buttons:hover {
  cursor: pointer;
}
.thread-content {
  overflow: auto;
}
.thread-posts {
  margin-left: 2.5rem;
}
.thread-icon {
  width: 15px;
  height: 15px;
}
.delete-icon,
.update-cancel-icon {
  color: #b91c1c;
}
.delete-icon {
  margin-left: 3px;
}
.update-cancel-icon {
  margin-left: 3px;
}
.update-confirm-icon {
  color: var(--color-primary);
}

/* FORM */
.form {
  margin-top: 2px;
  margin-left: 2.5rem;
  /* max-height: 10vh; */
}
.form-last {
  margin-top: 1rem;
  margin-left: 0;
  max-height: 10vh;
}
.sidebar-form {
  margin-top: 2px;
}
.form-button {
  color: var(--color-primary);
  background-color: var(--color-primary-lightest);
  border: none;
  margin-left: 3px;
  outline: none;
}
.form-button:hover,
.form-button:focus {
  background-color: var(--color-primary);
  color: var(--color-primary-lightest);
}

@media only screen and (max-width: 30em) {
  .slack-page {
    flex-direction: column;
  }
  slack-sidebar {
    flex: 0 1 auto;
  }
  slack-content {
    max-width: 100vw;
    padding: 0;
    margin: 5px 2px;
  }

  .form {
    max-height: 100px;
    margin-top: 1rem;
  }
  .form-last {
    margin-top: 1rem;
  }
  .update-cancel-icon {
    margin-left: 0px;
  }
}

/* 
.discussion-channel {
  color: red;
} */
