table {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
    
  }
  
  tbody > tr {
    text-align: left;
  }
  
  tr:nth-child(even){
    background-color: #f2f2f2;
  }

  tr:hover{
    background-color: #ddd;
    cursor: pointer;
  }

  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    cursor: default;
  }


  thead > tr{
      text-align: left;
  }


.main{
    width: 100%;
}
  

  
  

  