:host {
  display: flex;
  align-items: center;
}

.header {
  /* border: 1px solid blue; */

  color: white;
  background-color: #255dab;

  font-weight: normal;
  /* padding: 12px 5px 12px 5px; */
  /* text-align: center; */
  /* background-color: #4caf50; */
  color: white;
  cursor: default;
}

.data {
  /* border: 1px solid red; */
  /* padding: 3px; */
  /* margin: 3px; */
}

.both {
  padding-left: 15px;
  padding-right: 2px;
}

#value-view {
  display: flex;
  justify-content: space-between;
}

#value-edit {
  display: flex;
  justify-content: space-between;
}

.edit-buttons {
  margin-left: 15px;
  cursor: pointer;
}

#save-icon {
  color: green;
}

#cancel-icon {
  color: red;
}
